/* -*- mode: c; tab-width: 4; indent-tabs-mode: nil; -*- */
#ifndef __MGS3_FILE_CNF__
#define __MGS3_FILE_CNF__

/*
 * CD/DVD から読み出すファイル
 */

FS_FILE_INFO fs_file_info[] = {
#ifdef SUBSISTENCE
    { "stage.dat",          0, 0, 0, 0, 0 },    // 0
    { "stage_2.dat",        0, 0, 0, 0, 0 },    // 1
    { "net/stage_n.dat",    0, 0, 0, 0, 0 },    // 2
    { "stage_3.dat",        0, 0, 0, 0, 0 },    // 3
    { "codec.dat",          0, 0, 0, 0, 0 },    // 4
    { "codec_2.dat",        0, 0, 0, 0, 0 },    // 5
    { "codec_3.dat",        0, 0, 0, 0, 0 },    // 6
    { "bgm.dat",            0, 0, 0, 0, 0 },    // 7
    { "bgm_2.dat",          0, 0, 0, 0, 0 },    // 8
    { "bgm_3.dat",          0, 0, 0, 0, 0 },    // 9
    { "movie.dat",          0, 0, 0, 0, 0 },    // 10
    { "movie_2.dat",        0, 0, 0, 0, 0 },    // 11
    { "movie_3.dat",        0, 0, 0, 0, 0 },    // 12
    { "vox.dat",            0, 0, 0, 0, 0 },    // 13
    { "vox_2.dat",          0, 0, 0, 0, 0 },    // 14
    { "vox_3.dat",          0, 0, 0, 0, 0 },    // 15
    { "demo.dat",           0, 0, 0, 0, 0 },    // 16
    { "demo_2.dat",         0, 0, 0, 0, 0 },    // 17
    { "demo_3.dat",         0, 0, 0, 0, 0 },    // 18
    { "slot.dat",           0, 0, 0, 0, 0 },    // 19
    { "net/slot_n.dat",     0, 0, 0, 0, 0 },    // 20
    { "slot_3.dat",         0, 0, 0, 0, 0 },    // 21
    { NULL,                 0, 0, 0, 0, 0 }
#else // SNAKE_EATER
    { "stage.dat",  0, 0, 0, 0, 0 },    // 0
    { "codec.dat",  0, 0, 0, 0, 0 },    // 1
    { "bgm.dat",    0, 0, 0, 0, 0 },    // 2
    { "movie.dat",  0, 0, 0, 0, 0 },    // 3
    { "vox.dat",    0, 0, 0, 0, 0 },    // 4
    { "demo.dat",   0, 0, 0, 0, 0 },    // 5
    { "slot.dat",   0, 0, 0, 0, 0 },    // 6
    { NULL,         0, 0, 0, 0, 0 }
#endif
};

#if 0 // 体験版
FS_FILE_INFO fs_file_info[] = {
    { "stage.dat",  0, 0, 0, 0, 0 },    // 0
    { "codec.dat",  0, 0, 0, 0, 0 },    // 1
    { "face.dat",   0, 0, 0, 0, 0 },    // 2
    { "movie.dat",  0, 0, 0, 0, 0 },    // 3
    { "vox.dat",    0, 0, 0, 0, 0 },    // 4
    { "demo.dat",   0, 0, 0, 0, 0 },    // 5
    { "slot.dat",   0, 0, 0, 0, 0 },    // 6
    { NULL,         0, 0, 0, 0, 0 }
};
#endif

#endif // {{{ END OF FILE }}}
/* vim:set ts=4 sw=4 sts=4 et ft=c: */
